In [5]:
# pip install gspread-pandas
import gspread 
import pandas as pd
gc = gspread.service_account(filename = 'financial-370218-db2f521123cc.json')
final = gc.open_by_url("https://docs.google.com/spreadsheets/d/1CBhSmS8MfegVnM_y-tEmT8pUp-ezr1GPSFkoFzE9eYw/edit?usp=share_link")
fsheet = final.sheet1

# fsheet.get_all_values()

fsheet2 = final.get_worksheet(1)
fsheet2.get_all_values()

[['', 'Company', 'Price', '', '', '', '', '', '', '', '', ''],
 ['1', 'HEG Ltd.', '1232.35', '', '', '', '', '', '', '', '', ''],
 ['2',
  'Heidelberg Cement India Ltd.',
  '186.1',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['3', 'Nesco Ltd.', '567.6', '', '', '', '', '', '', '', '', ''],
 ['4', 'Indoco Remedies Ltd.', '368.15', '', '', '', '', '', '', '', '', ''],
 ['5',
  'Shilpa Medicare Ltd.',
  '381.95',
  '',
  '',
  'risk taking',
  '',
  '',
  '',
  'low',
  '',
  ''],
 ['', '', '', '', '', '', 'Company', 'Price', '', '', 'Company', 'Price'],
 ['',
  '',
  '',
  '',
  '',
  '1',
  'HEG Ltd.',
  '1232.35',
  '',
  '1',
  'Page Industries Ltd.',
  '49786.2'],
 ['',
  '',
  '',
  '',
  '',
  '2',
  'Heidelberg Cement India Ltd.',
  '186.1',
  '',
  '2',
  'Abbott India Ltd.',
  '18209'],
 ['',
  '',
  '',
  '',
  '',
  '3',
  'Nesco Ltd.',
  '567.6',
  '',
  '3',
  'MRF Ltd.',
  '84254.05'],
 ['',
  '',
  '',
  '',
  '',
  '4',
  'Indoco Remedies Ltd.',
  '368.15',
  '',
  '4',
  'Bajaj Holdings & Investment Ltd.',
  '5672.75'],
 ['',
  '',
  '',
  '',
  '',
  '5',
  'Shilpa Medicare Ltd.',
  '381.95',
  '',
  '5',
  'Honeywell Automation India Ltd.',
  '41954.05'],
 ['', '', '', '', '', '', '', '', '', '', '', ''],
 ['', '', '', '', '', 'moderate', '', '', '', '', '', ''],
 ['', '', '', '', '', '', 'Company', 'Price', '', '', '', ''],
 ['', '', '', '', '', '1', 'NCC Ltd.', '74.2', '', '', '', ''],
 ['', '', '', '', '', '2', 'Tata Coffee Ltd.', '243.1', '', '', '', ''],
 ['', '', '', '', '', '3', 'Greaves Cotton Ltd.', '175.1', '', '', '', ''],
 ['', '', '', '', '', '4', 'FDC Ltd.', '280.25', '', '', '', ''],
 ['', '', '', '', '', '5', 'Shilpa Medicare Ltd.', '381.95', '', '', '', '']]

# Subtask - 1:

#### (a) Populate Net Income for the given data in sheet1 of Gsheet 3

In [28]:
df = pd.read_excel("Income _ Expense.xlsx")

Net_Income = df[df['Income/Expense'] == 'Income']["Amount"].sum()


fsheet.update_cell(7,3,Net_Income)

{'spreadsheetId': '1CBhSmS8MfegVnM_y-tEmT8pUp-ezr1GPSFkoFzE9eYw',
 'updatedRange': 'Sheet1!C7',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

#### (b) Populate Net Expense for the given data in sheet1 of Gsheet 3

In [29]:
Net_expense = df[df['Income/Expense'] == 'Expense']["Amount"].sum()
# print(Net_expense)

fsheet.update_cell(8,3,Net_expense)

{'spreadsheetId': '1CBhSmS8MfegVnM_y-tEmT8pUp-ezr1GPSFkoFzE9eYw',
 'updatedRange': 'Sheet1!C8',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

#### (c) Cost incurred in different categories : Food, Other, Transportation, Social Life, Household, Apparel, Education, Salary, Allowance, Self-development, Beauty, Gift, Petty cash - for the given data in sheet1 of Gsheet 3

In [33]:
# #Food
# food_exp = df[(df['Income/Expense'] == 'Expense') & (df['Category'] == 'Food')]["Amount"].sum()
# fsheet.update_cell(10,3,food_exp)  

# # Other
# other_exp = df[(df['Income/Expense'] == 'Expense') & (df['Category'] == 'Other')]["Amount"].sum()
# fsheet.update_cell(11,3,other_exp)    

# # Transportation
# tans_exp = df[(df['Income/Expense'] == 'Expense') & (df['Category'] == 'Transportation')]["Amount"].sum()
# fsheet.update_cell(12,3,tans_exp)   

# # Social LIfe
# social_exp = df[(df['Income/Expense'] == 'Expense') & (df['Category'] == 'Social Life')]["Amount"].sum()
# fsheet.update_cell(13,3,social_exp)
             
# # Household
# household_exp = df[(df['Income/Expense'] == 'Expense') & (df['Category'] == 'Household')]["Amount"].sum()
# fsheet.update_cell(14,3,household_exp)

# # Apparel
# apparel_exp = df[(df['Income/Expense'] == 'Expense') & (df['Category'] == 'Apparel')]["Amount"].sum()
# fsheet.update_cell(15,3,apparel_exp)

# # Education
# edu_exp = df[(df['Income/Expense'] == 'Expense') & (df['Category'] == 'Education')]["Amount"].sum()
# fsheet.update_cell(16,3,edu_exp)

# # Salary
# salary_exp = df[(df['Income/Expense'] == 'Expense') & (df['Category'] == 'Salary')]["Amount"].sum()
# fsheet.update_cell(17,3,salary_exp)

# # Allowence
# allowence_exp = df[(df['Income/Expense'] == 'Expense') & (df['Category'] == 'Allowance')]["Amount"].sum()
# fsheet.update_cell(18,3,allowence_exp)

# # Self_development
# # food_exp = df[[(df['Income/Expense'] == 'Expense') & (df['Category'] == 'Self-development')]["Amount"].sum()
# # fsheet.update_cell(19,3,Net_expense)

# #Beauty
# beauty_exp = df[(df['Income/Expense'] == 'Expense') & (df['Category'] == 'Beauty')]["Amount"].sum()
# fsheet.update_cell(19,3,beauty_exp)

# # Gift
# gift_exp = df[(df['Income/Expense'] == 'Expense') & (df['Category'] == 'Gift')]["Amount"].sum()
# fsheet.update_cell(20,3,gift_exp)

# # Petty_cash
# pretty_exp = df[(df['Income/Expense'] == 'Expense') & (df['Category'] == 'Petty cash')]["Amount"].sum()
# fsheet.update_cell(21,3,pretty_exp)







##---------------------------------------------------------Doing it in a short way------------

q3 = df['Category']
value = df['INR']

x=list(set(df["Category"]))
length = len(x)
dic={}

for i in x:
    sum=0
    for j in range(len(df)):
        if q3[j]==i:
            sum=sum+value[j]
    print(i,sum)
    dic[i]=sum
    
for i in dic:
    r=fsheet.find(i).row
    c=fsheet.find(i).col
    fsheet.update_cell(r,c+1,int(dic[i]))

Apparel 3388.0
Other 41668.0
Food 24502.480000000003
Beauty 196.0
Gift 115.0
Transportation 9203.8
Education 1400.0
Petty cash 3.0
Salary 8000.0
Allowance 14000.0
Social Life 2513.7200000000003
Self-development 400.0
Household 12188.0

AttributeError: 'NoneType' object has no attribute 'row'

#### (d)Available for investment = Net Income - Net Expense(this has to be populated through python formula and not excel formula)

In [30]:
investment = Net_Income - Net_expense
fsheet.update_cell(24,3,investment)

{'spreadsheetId': '1CBhSmS8MfegVnM_y-tEmT8pUp-ezr1GPSFkoFzE9eYw',
 'updatedRange': 'Sheet1!C24',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

#

#

# Subtask - 2:

#### (a) In this task, you need to find out the top 5 companies where the money in “Available for Investment” has to be invested

In [44]:
df2 = pd.read_excel("BSE500.xlsx")
top5 = df2[df2["Price"]< investment].head(20)
top5[['Company',"Price"]].sort_values(by="Price")

                                          Company   Price
243  Housing & Urban Development Corporation Ltd.   42.05
105                   Indian Oil Corporation Ltd.   70.95
178               National Aluminium Company Ltd.   79.40
224                                     CESC Ltd.   81.25
230                      Gujarat Pipavav Port Ltd   86.85
275        Rashtriya Chemicals & Fertilizers Ltd.  100.20
265                       Manappuram Finance Ltd.  104.45
89                                       REC Ltd.  106.25
242                    Firstsource Solutions Ltd.  106.25
202                               Tata Steel Ltd.  106.90
195                            Castrol India Ltd.  113.55
112                Power Finance Corporation Ltd.  114.45
94                                      NMDC Ltd.  122.50
124            Oil & Natural Gas Corporation Ltd.  133.40
276                                Bank Of Baroda  133.85
150               Indiabulls Housing Finance Ltd.  134.90
147                             GAIL (India) Ltd.  136.75
211                                     PCBL Ltd.  144.45
174                          Redington India Ltd.  150.00
229                       Finolex Industries Ltd.  151.95

#### (c) Basis that you need to pick the top 5 companies to invest the money Available for investment calculated in subtask - 1

In [32]:
top5['Price'].sum()

547.55

#### (d) After applying the below given logic as per the risk profile mentioned, fill the Sheet2 of Gsheet 3 by distributing the amount Available for investment equally among those 5 companies

In [38]:
m = 2
for i in top5["Company"]:
    fsheet2.update_cell(m,2,i)
    m+=1
    
n =2
for i in top5["Price"]:
    fsheet2.update_cell(n,3,i)
    n+=1

#

###### (e) 1.Make a new column in Gsheet 1 named “Delta” and populate it with (52 Week High - price)/(52 week High)

In [8]:
#connecting  with worksheet gsheet 1

# data1 =gc.open("BSE500")
#selecting sheet1 from workbook
# Gsheet =data1.worksheet("bse500")
# df= pd.DataFrame(data1)
# print(df)
df = pd.read_excel("BSE500.xlsx")

In [101]:
# list_co = ["3 Year Low", 'Dividend Per Share','Free Cash Flow Per Share', 'Cash Flow Per Share','Book Value Per Share',
#           'Earning Per Share', '3 Year High','5 Year Low','5 Year High',
#          '3-Year Return','5-Year Return(%)','10-Year Return(%)','Price to Earnings','Median P/ E','Price to Book','Median P/ B']
# for i in df:
#     if i in list_co: 
#         i = i.replace({',':''})

TypeError: replace expected at least 2 arguments, got 1

#### (f) Below given logic needs to be applied basis the type of profile

In [98]:
# df['5 Year Low'] = df['5 Year Low'].replace({',':''},regex =True).apply(pd.to_numeric,1)
# # bsheet.update_cell(bsheet['5 Year Low'])

# df['5 Year High'] = df['5 Year High'].replace({',':''},regex =True).apply(pd.to_numeric,1)

# df['3 Year Low'] = df['3 Year Low'].replace({',':''},regex =True).apply(pd.to_numeric,1)

# df['3 Year High'] = df['3 Year High'].replace({',':''},regex =True).apply(pd.to_numeric,1)

# df['Enterprise Value(Cr)'] = df['Enterprise Value(Cr)'].replace({',':''},regex =True).apply(pd.to_numeric,1)

# df['All Time Low'] = df['All Time Low'].replace({',':''},regex =True).apply(pd.to_numeric,1)
# # 
# df['All Time High'] = df['All Time High'].replace({',':''},regex =True).apply(pd.to_numeric,1)

# df['Market Cap(Cr)'] = df['Market Cap(Cr)'].replace({',':''},regex =True).apply(pd.to_numeric,1)

# df['1-Year Return(%)'] = df['1-Year Return(%)'].replace({',':''},regex =True).apply(pd.to_numeric,1)

# df['3-Year Return'] = df['3-Year Return'].replace({',':''},regex =True).apply(pd.to_numeric,1)

# df['5-Year Return(%)'] = df['5-Year Return(%)'].replace({',':''},regex =True).apply(pd.to_numeric,1)

# df['10-Year Return(%)'] = df['10-Year Return(%)'].replace({',':''},regex =True).apply(pd.to_numeric,1)

# df['Price to Earnings'] = df['Price to Earnings'].replace({',':''},regex =True).apply(pd.to_numeric,1)

# df['Median P/E'] = df['Median P/E'].replace({',':''},regex =True).apply(pd.to_numeric,1)


# df['Price to Book'] = df['Price to Book'].replace({',':''},regex =True).apply(pd.to_numeric,1)

# df['Median P/B'] = df['Median P/B'].replace({',':''},regex =True).apply(pd.to_numeric,1)

# df['Price earnings to growth'] = df['Price earnings to growth'].replace({',':''},regex =True).apply(pd.to_numeric,1)


# df['EV / EBITDA'] = df['EV / EBITDA'].replace({',':''},regex =True).apply(pd.to_numeric,1)


# df['Price / Sales'] = df['Price / Sales'].replace({',':''},regex =True).apply(pd.to_numeric,1)



# df['Price / Cash Flow'] = df['Price / Cash Flow'].replace({',':''},regex =True).apply(pd.to_numeric,1)


# df['Earning Per Share'] = df['Earning Per Share'].replace({',':''},regex =True).apply(pd.to_numeric,1)


# df['Book Value Per Share'] = df['Book Value Per Share'].replace({',':''},regex =True).apply(pd.to_numeric,1)

# df['Cash Flow Per Share'] = df['Cash Flow Per Share'].replace({',':''},regex =True).apply(pd.to_numeric,1)


# df['Free Cash Flow Per Share'] = df['Free Cash Flow Per Share'].replace({',':''},regex =True).apply(pd.to_numeric,1)

# df['Dividend Per Share'] = df['Dividend Per Share'].replace({',':''},regex =True).apply(pd.to_numeric,1)

# df['Dividend Yield(%)'] = df['Dividend Yield(%)'].replace({',':''},regex =True).apply(pd.to_numeric,1)

# df['Earning Yield(%)'] = df['Earning Yield(%)'].replace({',':''},regex =True).apply(pd.to_numeric,1)




# df2.loc[10, ['5 Year Low']] = df2['5 Year Low']
# df2.to_excel("BSE500.xlsx", index=False)

SyntaxError: invalid non-printable character U+00A0 (2907791563.py, line 66)

#

In [34]:

###--------------------------High Risk Taking
df2['delta'] = df2["52 Week High"] - df2["Price"]/df2["52 Week High"]

df2[df2['delta'] > 0]
df2[(df2["Market Cap(Cr)"] < 2000) &  (df2["10-Year Return(%)"]<8) ].sort_values(by = ["Dividend Per Share"], ascending=False)





###-------------------------- Risk Taking
# df2['delta'] = df2["52 Week High"] - df2["Price"]/df2["52 Week High"]
# df2[df2['delta'] > 0]
# df2[ (df2["Market Cap(Cr)"]> 2000) &  (df2["Market Cap(Cr)"] < 5000) & (df2["10-Year Return(%)"]>=8) & (df2["10-Year Return(%)"]<15) ].sort_values(by = ["Dividend Per Share"], ascending=False).head(5)




###--------------------------Moderate Risk Taking
# df2['delta'] = df2["52 Week High"] - df2["Price"]/df2["52 Week High"]
# df2[df2['delta'] > 0]
# df2[(df2["Market Cap(Cr)"] < 5000) & (df2["Market Cap(Cr)"] < 15000)  & (df2["10-Year Return(%)"] >=15) & (df2["10-Year Return(%)"]<20) ].sort_values(by = ["Dividend Per Share"], ascending=False).head(5)





###--------------------------Low Risk Taking
# df2["52 Week High"] - df2["Price"]/df2["52 Week High"]
df2[df2['delta'] > 0]
df2[ (df2["Market Cap(Cr)"] > 15000) & (df2["10-Year Return(%)"] >=20)].sort_values(by = ["Dividend Per Share"], ascending=False).head(5)

,Company,BSE code,NSE code,ISIN,Sector,Industry,Date,Price,1 day change(%),52 Week Low,...,Dividend Yield(%),EV / EBITDA,Price / Sales,Price / Cash Flow,Earning Per Share,Book Value Per Share,Cash Flow Per Share,Free Cash Flow Per Share,Dividend Per Share,delta
1,Page Industries Ltd.,532827.0,PAGEIND,INE761H01022,Textiles,Readymade Garments,2022-09-05,49786.20,-0.259937,31500.00,...,0.7433,51.785329,11.748089,169.843663,656.8292,1161.6259,293.088578,191.031917,370.0,51499.033278
3,Abbott India Ltd.,500488.0,ABBOTINDIA,INE358A01014,Healthcare,Drugs & Pharma,2022-09-05,18209.00,-1.264759,15514.00,...,1.5100,30.982268,7.730778,40.836169,380.5207,1402.9963,445.957647,446.903529,275.0,23933.689214
8,MRF Ltd.,500290.0,MRF,INE883A01011,Automobile,Tyres & Tubes,2022-09-05,84254.05,-0.121922,63000.00,...,0.1782,15.568839,1.715583,-61.819192,1478.9881,33376.2647,-1363.278302,-5522.358491,150.0,89498.958613
13,Bajaj Holdings & Investment Ltd.,500490.0,BAJAJHLDNG,INE118A01012,Financial,Investment Services,2022-09-05,5672.75,0.403543,4231.25,...,2.0256,176.362995,163.585080,39.222207,381.5541,3853.5071,144.635637,29.017881,115.0,6597.140232
16,Honeywell Automation India Ltd.,517174.0,HONAUT,INE671A01010,Capital Goods,Electronic Components,2022-09-05,41954.05,-0.588591,30185.35,...,0.2148,66.821561,12.141972,140.559519,395.3731,3313.3110,298.167421,384.592760,90.0,47399.114893

#

# Subtask - 3:

#### (a) Compare the median of column Enterprise Value(Cr) across different Sectors. For instance, what is the median enterprise value of Technology sector as compared to Services sector

In [35]:
sector_medians = df2.groupby(["Sector"])['Enterprise Value(Cr)'].median()
sector_medians
# sector_medians["Sector"]

Sector
Automobile                35909.058989
Capital Goods             12998.279783
Chemicals                 13704.383222
Communication             42214.500000
Construction              10062.273456
Consumer Discretionary    13239.340020
Consumer Staples          16451.253229
Diversified               24475.606015
Energy                    63786.424084
Financial                 31462.740540
Healthcare                13374.632470
Insurance                 73724.110333
Materials                 12834.114629
Metals & Mining           16216.105322
Others                    13393.365475
Services                   9644.628564
Technology                15692.092620
Textiles                  10884.825792
Name: Enterprise Value(Cr), dtype: float64

#### (b) Try to find a relation between Dividend Per Share with Market Cap(Cr)

In [60]:
print('Relation between Divident_per_share and Market_Cap(Cr) is',df["Dividend Per Share"].corr(df["Market Cap(Cr)"]))

Relation between Divident_per_share and Market_Cap(Cr) is 0.040370954517693174

#### (c) Count the companies in different Industry with positive and negative 3-Year Return. For instance how many companies in Drugs & Pharma industry have positive 3-Year Return and how many have that negative. Basis this, decide which industry would you recommend someone to invest if the same return is followed

In [24]:
# negative_return = df[df["3-Year Return"]<0][['Company', "3-Year Return"]].sort_values(by="3-Year Return")
# positive_return = df[df["3-Year Return"]>0][['Company', "3-Year Return"]].sort_values(by=["3-Year Return"], ascending=False ).head(10)
# non_return = df[df["3-Year Return"]==0]["3-Year Return"].count()
print(positive_return)


# print('positive return : ', positive_return)
# print('negative return : ', negative_return)
# print('non return : ', non_return)

# -------------------------------------------------------------------------------------------------------------------


# positive_return_in_drugs = df[(df["3-Year Return"]<0) & (df["Industry"]=="Drugs & Pharma")]["3-Year Return"].count()
# negative_return_in_drugs = df[(df["3-Year Return"]>0) & (df["Industry"]=="Drugs & Pharma")]["3-Year Return"].count()
# print('positive return in drugs&pharma: ', positive_return_in_drugs)
# print('negative return in drugs&pharma: ', negative_return_in_drugs)


# -------------------------------------------------------------------------------------------------------------------

                                  Company  3-Year Return
476            Ruchi Soya Industries Ltd.     564.067659
489  Tata Teleservices (Maharashtra) Ltd.     281.014142
407               Adani Green Energy Ltd.     277.224583
402                  Brightcom Group Ltd.     202.458577
393                  Adani Total Gas Ltd.     196.135020
358                Adani Enterprises Ltd.     191.613848
409               Adani Transmission Ltd.     154.286051
38                        Tata Elxsi Ltd.     144.072276
186                    Balaji Amines Ltd.     140.411729
324                  Tanla Platforms Ltd.     137.854726

#### (d) Come up with any one KPI which can help define the best stock across different Sector, you may need to learn a little bit of Finance for the same

In [167]:
growth = df[ (df["1-Year Return(%)"] <df["3-Year Return"]) &  (df["3-Year Return"] <df["5-Year Return(%)"])  &
            (df["5-Year Return(%)"] <df["10-Year Return(%)"]) ]

one_to_ten = {"Company":growth["Company"], "Sector":growth["Sector"],
               "1 to 3year growth": (growth["3-Year Return"] - growth["1-Year Return(%)"]),
               "3 to 5year growth" : (growth["5-Year Return(%)"] - growth["3-Year Return"]),
               "5 to 10year growth" : (growth["10-Year Return(%)"] - growth["5-Year Return(%)"]) } 

one_to_ten["Total Growth"] = one_to_ten["1 to 3year growth"] + one_to_ten["3 to 5year growth"] + one_to_ten["5 to 10year growth"]

growth_df = pd.DataFrame(one_to_ten)


growth_df.sort_values(by = ["Total Growth"], ascending=False)


kpi = growth_df.groupby("Sector")["Company", "Sector", "Total Growth"].max()
kpi

C:\Users\HP\AppData\Local\Temp\ipykernel_15296\3078656606.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  kpi = growth_df.groupby("Sector")["Company", "Sector", "Total Growth"].max()

,Company,Sector,Total Growth
Sector,,,
Automobile,Maharashtra Scooters Ltd.,Automobile,31.063229
Capital Goods,Honeywell Automation India Ltd.,Capital Goods,65.220626
Chemicals,Vinati Organics Ltd.,Chemicals,53.613411
Communication,Hathway Cable & Datacom Ltd.,Communication,14.361882
Construction,Godrej Properties Ltd.,Construction,29.135873
Consumer Discretionary,Whirlpool Of India Ltd.,Consumer Discretionary,57.370118
Consumer Staples,Zydus Wellness Ltd.,Consumer Staples,44.268827
Diversified,3M India Ltd.,Diversified,24.403778
Energy,Indraprastha Gas Ltd.,Energy,49.591430
Financial,Manappuram Finance Ltd.,Financial,57.345155
Healthcare,Sanofi India Ltd.,Healthcare,40.118313
Materials,Heidelberg Cement India Ltd.,Materials,45.328483
Technology,Zensar Technologies Ltd.,Technology,64.281302